In [1]:
import requests
from api_keys import api_key
import pandas as pd
import googleapiclient.discovery
import googleapiclient.errors
import google_auth_oauthlib.flow
import os
import json
from IPython.display import JSON
from pathlib import Path

In [ ]:
# Movie trailer data from Youtube

In [ ]:
#video_id for movie trailers of top 20 movies in 2023 worldwide
video_id = ['pBk4NYhWNMM',
            'TnGl01FkMMo',
            'uYPbbksJxIg',
            'bK6ldnjE3Y0',
            'u3V5KDHRQvk',
            'JqcncLPi9zw',
            '32RAq6JzY-w',
            'aOb15GVFZxU',
            'eoOaKN4qCKw',
            'cqGjhVJWtEg',
            'shW9i6k8cB0',
            'kpGo2_d3oYE',
            'avz06PDqDbM',
            'HurjfO_TDlQ',
            'hXzcyx9V0xw',
            'ZlNFpri-Y40',
            '5WfTEZJnv_8',
            'qEVUtrk8_B4',
            'yjRHZEUamCc',
            'itnqEauWQZM',
            'ZtuFgnxQMrA',
            'dG91B3hHyY4',
            'eQfMbSe7F2g',
            'RDE6Uz73A7g',
            'NxW_X4kzeus',
            '0VH9WCFV6XQ',
            'Z_T0o5uNrlY',
            'AHmCH7iB_IM',
            'xTaIZo8OJYE',
            'hebWYacbdvc',
            'r51cYVZWKdY',
            'QF-oyCwaArU',
            'KudedLV0tP0']

In [ ]:
#request data from youtube API
api_service_name = "youtube"
api_version = "v3"

youtube = googleapiclient.discovery.build(
    api_service_name, api_version, developerKey=api_key)

request = youtube.videos().list(
    part="snippet,contentDetails,statistics",
    id= video_id
)
response = request.execute()

JSON(response)

In [ ]:
#loop through videos
trailer_data = []

for item in response['items']:
    data = {'videoName': item['snippet']['title'],
           'views': item['statistics']['viewCount'],
           }
    trailer_data.append(data)
    
trailer_data

In [ ]:
#Convert to dataframe
trailer_data_df = pd.DataFrame(trailer_data)
trailer_data_df

In [ ]:
trailer_data_df.to_csv("Resources/trailer_data.csv", index=False)

In [ ]:
# Worldwide movie data

In [2]:
url = 'https://www.boxofficemojo.com/year/world/?ref_=bo_nb_ydw_tab'
response = requests.get(url)
worldwide = pd.read_html(response.text)
worldwide_df = worldwide[0] 
worldwide_df

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Barbie,"$1,441,820,453","$636,220,453",44.1%,"$805,600,000",55.9%
1,2,The Super Mario Bros. Movie,"$1,361,367,353","$574,934,330",42.2%,"$786,433,023",57.8%
2,3,Oppenheimer,"$952,015,985","$326,081,985",34.3%,"$625,934,000",65.7%
3,4,Guardians of the Galaxy Vol. 3,"$845,555,777","$358,995,815",42.5%,"$486,559,962",57.5%
4,5,Fast X,"$704,875,015","$146,126,015",20.7%,"$558,749,000",79.3%
...,...,...,...,...,...,...,...
195,196,A Difficult Year,"$6,881,647",-,-,"$6,881,647",100%
196,197,Baba Yaga spasaet mir,"$6,857,309",-,-,"$6,857,309",100%
197,198,Beautiful Disaster,"$6,850,036",-,-,"$6,850,036",100%
198,199,The Miracle Club,"$6,838,978","$2,402,780",35.1%,"$4,436,198",64.9%
199,200,The Iron Claw,"$6,799,075","$6,799,075",100%,-,-

In [3]:
draft_worldwide_df = worldwide_df.drop(worldwide_df.index[20:200])

In [4]:
clean_worldwide_df = draft_worldwide_df.drop(columns=['%', '%.1'])
clean_worldwide_df

,Rank,Release Group,Worldwide,Domestic,Foreign
0,1,Barbie,"$1,441,820,453","$636,220,453","$805,600,000"
1,2,The Super Mario Bros. Movie,"$1,361,367,353","$574,934,330","$786,433,023"
2,3,Oppenheimer,"$952,015,985","$326,081,985","$625,934,000"
3,4,Guardians of the Galaxy Vol. 3,"$845,555,777","$358,995,815","$486,559,962"
4,5,Fast X,"$704,875,015","$146,126,015","$558,749,000"
5,6,Spider-Man: Across the Spider-Verse,"$690,516,673","$381,311,319","$309,205,354"
6,7,The Little Mermaid,"$569,626,289","$298,172,056","$271,454,233"
7,8,Mission: Impossible - Dead Reckoning Part One,"$567,535,383","$172,135,383","$395,400,000"
8,9,Elemental,"$496,307,013","$154,426,697","$341,880,316"
9,10,Ant-Man and the Wasp: Quantumania,"$476,071,180","$214,504,909","$261,566,271"
10,11,John Wick: Chapter 4,"$440,146,694","$187,131,806","$253,014,888"
11,12,Transformers: Rise of the Beasts,"$438,966,392","$157,066,392","$281,900,000"
12,13,Meg 2: The Trench,"$395,000,317","$82,600,317","$312,400,000"
13,14,Indiana Jones and the Dial of Destiny,"$383,963,057","$174,480,468","$209,482,589"
14,15,The Hunger Games: The Ballad of Songbirds & Sn...,"$315,337,500","$153,337,500","$162,000,000"
15,16,Five Nights at Freddy's,"$289,361,620","$137,275,620","$152,086,000"
16,17,Creed III,"$275,248,615","$156,248,615","$119,000,000"
17,18,The Flash,"$270,633,313","$108,133,313","$162,500,000"
18,19,The Nun II,"$268,067,073","$86,267,073","$181,800,000"
19,20,Wonka,"$263,452,717","$85,852,717","$177,600,000"

In [ ]:
#clean_worldwide_df = clean_worldwide_df.set_index('Rank')

In [15]:
clean_worldwide_df.rename(columns={"Release Group": "Video Name"}, inplace=True)
clean_worldwide_df.rename(columns={"Foreign": "Outside US"}, inplace=True)
clean_worldwide_df

,Rank,Video Name,Worldwide,Domestic,Outside US
0,1,Barbie,"$1,441,820,453","$636,220,453","$805,600,000"
1,2,The Super Mario Bros. Movie,"$1,361,367,353","$574,934,330","$786,433,023"
2,3,Oppenheimer,"$952,015,985","$326,081,985","$625,934,000"
3,4,Guardians of the Galaxy Vol. 3,"$845,555,777","$358,995,815","$486,559,962"
4,5,Fast X,"$704,875,015","$146,126,015","$558,749,000"
5,6,Spider-Man: Across the Spider-Verse,"$690,516,673","$381,311,319","$309,205,354"
6,7,The Little Mermaid,"$569,626,289","$298,172,056","$271,454,233"
7,8,Mission: Impossible - Dead Reckoning Part One,"$567,535,383","$172,135,383","$395,400,000"
8,9,Elemental,"$496,307,013","$154,426,697","$341,880,316"
9,10,Ant-Man and the Wasp: Quantumania,"$476,071,180","$214,504,909","$261,566,271"
10,11,John Wick: Chapter 4,"$440,146,694","$187,131,806","$253,014,888"
11,12,Transformers: Rise of the Beasts,"$438,966,392","$157,066,392","$281,900,000"
12,13,Meg 2: The Trench,"$395,000,317","$82,600,317","$312,400,000"
13,14,Indiana Jones and the Dial of Destiny,"$383,963,057","$174,480,468","$209,482,589"
14,15,The Hunger Games: The Ballad of Songbirds & Sn...,"$315,337,500","$153,337,500","$162,000,000"
15,16,Five Nights at Freddy's,"$289,361,620","$137,275,620","$152,086,000"
16,17,Creed III,"$275,248,615","$156,248,615","$119,000,000"
17,18,The Flash,"$270,633,313","$108,133,313","$162,500,000"
18,19,The Nun II,"$268,067,073","$86,267,073","$181,800,000"
19,20,Wonka,"$263,452,717","$85,852,717","$177,600,000"

In [ ]:
clean_worldwide_df.to_csv("Resources/movie_worldwide_data.csv", index=False)

In [ ]:
#Merge top movie and trailer data

In [6]:
#Load trailer_clean CSV
trailer_clean_data_csv = Path("Resources/trailer_clean_data.csv")

#Read CSV
trailer_clean_data = pd.read_csv(trailer_clean_data_csv)

In [7]:
#Rename column video name
trailer_clean_data.rename(columns={"videoname": "Video Name"}, inplace=True)
trailer_clean_data

                                           Video Name  viewcount
0                                              Barbie   79686363
1                         The Super Mario Bros. Movie   30350430
2                                         Oppenheimer  112891125
3                        Guardian of the Galaxy Vol.3   53010134
4                                              Fast X   85653591
5                 Spider-Man: Across the Spider-Verse   87361204
6                                  The Little Mermaid   26018835
7          Mission:Impossible-Dead Reckoning Part One   34743536
8                                           Elemental   46500823
9                   Ant-Man and the Wasp: Quantumania   59812098
10                               John Wick: Chapter 4   80648027
11                   Transformers: Rise of the Beasts   44235315
12                                  Meg 2: The Trench   46893076
13             Indiana Jones and the Dieal of Destiny   16360565
14  The Hunger Games: The Ballad of Songbirds & Sn...   52061684
15                             Five Nights at Freddys   63927641
16                                          Creed III   37657452
17                                          The Flash   53112377
18                                         The Nun II   41591862
19                        Taylor Swift: The Eras Tour   11207600

In [8]:
trailer_clean_data = trailer_clean_data.replace("Guardian of the Galaxy Vol.3","Guardians of the Galaxy Vol. 3")

In [9]:
trailer_clean_data = trailer_clean_data.replace("Five Nights at Freddys","Five Nights at Freddy's")

In [12]:
trailer_clean_data = trailer_clean_data.replace("Mission:Impossible-Dead Reckoning Part One","Mission: Impossible - Dead Reckoning Part One")

In [13]:
trailer_clean_data = trailer_clean_data.replace("Indiana Jones and the Dieal of Destiny","Indiana Jones and the Dial of Destiny")
trailer_clean_data

                                           Video Name  viewcount
0                                              Barbie   79686363
1                         The Super Mario Bros. Movie   30350430
2                                         Oppenheimer  112891125
3                      Guardians of the Galaxy Vol. 3   53010134
4                                              Fast X   85653591
5                 Spider-Man: Across the Spider-Verse   87361204
6                                  The Little Mermaid   26018835
7       Mission: Impossible - Dead Reckoning Part One   34743536
8                                           Elemental   46500823
9                   Ant-Man and the Wasp: Quantumania   59812098
10                               John Wick: Chapter 4   80648027
11                   Transformers: Rise of the Beasts   44235315
12                                  Meg 2: The Trench   46893076
13              Indiana Jones and the Dial of Destiny   16360565
14  The Hunger Games: The Ballad of Songbirds & Sn...   52061684
15                            Five Nights at Freddy's   63927641
16                                          Creed III   37657452
17                                          The Flash   53112377
18                                         The Nun II   41591862
19                        Taylor Swift: The Eras Tour   11207600

In [31]:
#Merge movie_clean and trailer_clean 
movie_trailer_df = clean_worldwide_df.merge(trailer_clean_data, how='inner', on= 'Video Name')
movie_trailer_df

,Rank,Video Name,Worldwide,Domestic,Outside US,viewcount
0,1,Barbie,"$1,441,820,453","$636,220,453","$805,600,000",79686363
1,2,The Super Mario Bros. Movie,"$1,361,367,353","$574,934,330","$786,433,023",30350430
2,3,Oppenheimer,"$952,015,985","$326,081,985","$625,934,000",112891125
3,4,Guardians of the Galaxy Vol. 3,"$845,555,777","$358,995,815","$486,559,962",53010134
4,5,Fast X,"$704,875,015","$146,126,015","$558,749,000",85653591
5,6,Spider-Man: Across the Spider-Verse,"$690,516,673","$381,311,319","$309,205,354",87361204
6,7,The Little Mermaid,"$569,626,289","$298,172,056","$271,454,233",26018835
7,8,Mission: Impossible - Dead Reckoning Part One,"$567,535,383","$172,135,383","$395,400,000",34743536
8,9,Elemental,"$496,307,013","$154,426,697","$341,880,316",46500823
9,10,Ant-Man and the Wasp: Quantumania,"$476,071,180","$214,504,909","$261,566,271",59812098
10,11,John Wick: Chapter 4,"$440,146,694","$187,131,806","$253,014,888",80648027
11,12,Transformers: Rise of the Beasts,"$438,966,392","$157,066,392","$281,900,000",44235315
12,13,Meg 2: The Trench,"$395,000,317","$82,600,317","$312,400,000",46893076
13,14,Indiana Jones and the Dial of Destiny,"$383,963,057","$174,480,468","$209,482,589",16360565
14,15,The Hunger Games: The Ballad of Songbirds & Sn...,"$315,337,500","$153,337,500","$162,000,000",52061684
15,16,Five Nights at Freddy's,"$289,361,620","$137,275,620","$152,086,000",63927641
16,17,Creed III,"$275,248,615","$156,248,615","$119,000,000",37657452
17,18,The Flash,"$270,633,313","$108,133,313","$162,500,000",53112377
18,19,The Nun II,"$268,067,073","$86,267,073","$181,800,000",41591862

In [32]:
movie_trailer_df.dtypes

Rank           int64
Video Name    object
Worldwide     object
Domestic      object
Outside US    object
viewcount      int64
dtype: object

In [33]:
movie_trailer_df['Worldwide'] = movie_trailer_df['Worldwide'].str.replace(',', '').str.replace('$', '').astype(int)

In [34]:
movie_trailer_df['Domestic'] = movie_trailer_df['Domestic'].str.replace(',', '').str.replace('$', '').astype(int)
movie_trailer_df['Outside US'] = movie_trailer_df['Outside US'].str.replace(',', '').str.replace('$', '').astype(int)

In [35]:
movie_trailer_df.dtypes

Rank           int64
Video Name    object
Worldwide      int64
Domestic       int64
Outside US     int64
viewcount      int64
dtype: object

In [ ]:
movie_trailer_df.to_csv("Resources/movie_trailer_data.csv", index=False)